.grat_greet
  - if content.new_record?
    %p 
      Let's make a
      %strong= url
      ==#{content.type}!
  - else
    %p
      Editing 
      %a{:href => url}
        %strong= url
      == (a #{content.type})
    
%form{:action => "/admin#{url}", :method => 'post'}
  .template
    %label{:for => form_nest('template_url')} Template
    %select{:name => form_nest('template_url')}
      %option{:value=>''} None
      - Grat::Template.all.each do |template|
        - option_hash = {:value => template.url}
        - option_hash.merge!(:selected => 'selected') if template.url == content.template_url
        %option{option_hash}= template.url
  .url
    %label{:for => form_nest('url')} Url
    %input{:name => form_nest('url'), :value => content.url}
  .content
    %label{:for => form_nest('content')} Content
    %textarea{:name => form_nest('content')}= content.content
  .tags
    %label{:for => form_nest('tags')} Tags
    %input{:name => form_nest('tags'), :value => content.tags.join(' ')}
  - content.editable_fields.each_pair do |k,v|
    %div{:class => k}
      %label{:for => form_nest(k)}= k.capitalize
      %input{:name => form_nest(k), :value => v}
  #new_fields
    %p
      %a.add{:href=>'#new_field'} Add a New Field
    
  .submit
    %input{:name => form_nest('submit'), :type => 'submit', :value => "Let's save this thing"}