.grat_greet
  - if content.new_record?
    %p 
      Let's make a
      %strong= url
      ==#{content.type}!
  - else
    %p
      Editing 
      %a{:href => url}
        %strong= url
      == (a #{content.type})
%form.add_field
  %fieldset
    %legend Add a field
    .fieldname
      %label{:for => 'fieldname'} Field Name:
      %input{:name => 'fieldname'}
    .fieldtype
      %label{:for => 'fieldtype'} Field Type:
      %select{:name => 'fieldtype'}
        %option{:value => 'text'} Text
        %option{:value => 'textarea'} TextArea
    .submit
      %input{:name => 'fieldsubmit', :type => 'submit', :value => "Add field!"}      
    
%form{:action => "/admin#{url}", :method => 'post'}
  .template
    %label{:for => form_nest('template_url')} Template
    %select{:name => form_nest('template')}
      %option None
      - Grat::Template.all.each do |template|
        %option{:value => template.url}= template.url
  .url
    %label{:for => form_nest('url')} Url
    %input{:name => form_nest('url'), :value => content.url}
  .content
    %label{:for => form_nest('content')} Content
    %textarea{:name => form_nest('content')}= content.content
  .tags
    %label{:for => form_nest('tags')} Tags
    %input{:name => form_nest('tags'), :value => content.tags.join(' ')}
  - content.editable_fields.each_pair do |k,v|
    %div{:class => k}
      %label{:for => form_nest(k)}= k.capitalize
      %input{:name => form_nest(k), :value => v}
  .submit
    %input{:name => form_nest('submit'), :type => 'submit', :value => "Let's save this thing"}