!!! XML
!!! 1.0 Transitional
%html
  %head
    %title Grat
    %link{:rel=>"shortcut icon", :href=>"http://grat.local/favicon.ico"}
    
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"}
    
    = stylesheet_tag('libraries.css')
    = stylesheet_tag('template.css')
    - stylesheet_tag('template_debug.css')
    = stylesheet_tag('grids.css')
    = stylesheet_tag('content.css')
    = stylesheet_tag('mod.css')
    = stylesheet_tag('mod_skins.css')
    = stylesheet_tag('custom.css')
  %body
    = yield
    /
      .debug= params.inspect